#
# This file pins the `ahlbatross` package only to activate dependabot on new `ahlbatross` releases, causing
# <workflow>.yml to generate `AHB diffs` by running `ahlbatross` and uploading the output to this repository.
#
ahlbatross==v0.2.0
