#
# This file pins the `ahlbatross` package only to trigger dependabot on new `ahlbatross` releases and runs
# <workflow>.yml to generate and upload the `AHB diffs` to this repository
#
ahlbatross==v0.1.3